:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  padding: 2rem;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0.5em;
}

button:hover {
  border-color: #646cff;
}

.complexity-annotation {
  position: absolute;
  right: 5px;
  color: #888;
  pointer-events: none;
}

.ace_gutter-cell {
  position: relative;
}
